<div class="container">
  <div class="sidebar">
    <div class="sidebar-items"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-home" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-users" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
    <div class="sidebar-items item7"><i class="fa fa-cog" aria-hidden="true"></i></div>
    <div class="sidebar-items"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
  </div>
  <div class="main-chat">
    <div class="main-chat-header">
      <div>
        <div class="header-update">Updates</div>
        <div class="header-userinfo">
          <span>Session: 34 mins</span>
          <span>User: {{loginUser.screen_name}}</span>
        </div>
      </div>
      <div class="sub-header">
        <h2>Conversations</h2>
        <span><input type="text" placeholder="Quick search"></span>
        <span class="search-filter"><i class="fa fa-filter" aria-hidden="true"></i>filter </span>
        <div class="online">online <i class="fa fa-angle-down" aria-hidden="true"></i></div>
      </div>
    </div>
    <div class="main-chat-body">
    <div class="chat-list">
      <div class="chat-list-items latestlist" *ngFor="let tweet of tweets">
        <p>{{tweet.tweetUser.name}}</p>
        <p>{{tweet.tweets}}</p>
      </div>
      <div class="chat-list-items">
        <p>Sachin</p>
        <p>hello there?</p>
      </div>
      <div class="chat-list-items">
        <p>Rohit</p>
        <p>hello there?</p>
      </div>
      <div class="chat-list-items">
        <p>Kohli</p>
        <p>hello there?</p>
      </div>
      <p class="expired-chats"><span>Expired chats</span></p>
      <div class="chat-list-items">
        <p>Iyer</p>
        <p>hello there?</p>
      </div>
      <div class="chat-list-items">
        <p>Rishab</p>
        <p>hello there?</p>
      </div>
      <div class="chat-list-items">
        <p>Rahul</p>
        <p>hello there?</p>
      </div>
      
    </div>
    <div class="open-chat">
      <div class="chat-box">
        <input class="searchbar" type="text" placeholder="Reply...." />
      </div>
      <div class="chat-profile">
        <div class="profile">
          <div>
            <img class="profile-icon" [src]="loginUser.profile_image_url" />
          </div>
          <p>{{loginUser.name}}</p>
          <p>Online</p>
          <div>
            <span><i class="fa fa-phone" aria-hidden="true"></i> Call</span>
            <span><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>
          </div>
          <div class="profile-details">
            <div>Room</div>
            <div>112</div>
          </div>
          <div class="profile-details">
            <div>Category</div>
            <div>Standard</div>
          </div>
          <div class="profile-details">
            <div>Country</div>
            <div>Canada</div>
          </div>
        </div>
        <div class="tasks">
          <h5>Tasks</h5>
          <div><input type="checkbox"> Clean up room</div>
          <div><input type="checkbox"> Change linen and towels when guests are out</div>
          <div><input type="checkbox"> Bring complimentary bottle of red wine</div>
          <h5>All Tasks</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>