.container{
  display: grid;
  grid-template-columns: 60px auto ;
  height: 100vh;
  grid-gap: 80px;

}

.sidebar{
  background-color: ghostwhite	;
  border-right: 2px solid ghostwhite;

  .sidebar-items{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;

    .item7{
      grid-row-start: 7;
      grid-row-end: 10;
    }
  }
}

.latestlist{
  background:#DCDCDC;
}
.main-chat{
  background-color: white;
  

  .chat-list{
    min-height: 536px;
    h2{
      margin-left: 10px;
    }

    .chat-list-items{
      height: 60px;
      margin: 10px;
      text-align: center;
      border: 1px solid #C0C0C0;
      .item1{
        margin-top: 0px;
        background: grey  ;
      }

      > :nth-child(1) {
        margin-top: 0px;
        font-size: 15px;
      }

      > :nth-child(2) {
        font-size: 12px;
      }
    }

    .expired-chats{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      line-height: 0.1em;
      margin: 10px 0 20px;
      color: grey;
      font-size: 12px;
      
      span{
        background: #fff;
        padding: 0 10px;
      }
    }
  }

  .open-chat{
    border: 1px solid #C0C0C0;
    display: inline;
    margin-top: 10px;
    .chat-box{
      border-right: 1px solid #C0C0C0;
      width: calc(100% - 250px);
      height: 100%;
      float: left;

      .searchbar{
        width: 500px;
        height: 30px;
        border-radius: 8px;
        border-color: #dcdcdc;
        position: absolute;
        bottom: 0px;
        margin-left: 45px;
      }
    }

    .chat-profile{
      float: right;
      width: 249px;
      height: 100%;

      .profile{
        height:calc(100% - 223px);
        border-bottom: 1px solid #DCDCDC;
        text-align: center;

        .profile-icon{
          height: 70px;
          width: 70px;
          border-radius: 50%;
          border-color: black;
          display: inline-block;
          background-color: #bbb;
          margin-top: 20px;
        }

        > :nth-child(2) {
          margin: 0;
        }
        > :nth-child(3){
          margin-top: 5px;
          color: green ;
          font-size: 12px;
        }

        >:nth-child(4){
          span{
            background: #dcdcdc;
            margin: 15px;
            padding: 6px;
            font-size: 10px;
          }
        }

        .profile-details{
          text-align: center;
          padding-left: 50px;
          padding-top: 12px;
          font-size: 14px;
          > :nth-child(1) {
            float: left;
            color: #696969;
          }
          > :nth-child(3){
            float: right;
          }
        }
      }

      .tasks{
        padding: 12px;
        font-size: 14px;
        color: #696969	;
      }
    }

  }

  .main-chat-header{
    height: 120px;
    border: 1px solid white;

    .sub-header{
      margin-top: 70px;
      margin-left: 10px;

      .online{
        float: right;
        padding: 5px;
        width: 115px;
        border: 1px solid grey;
        border-radius: 35px;
        text-align: center;
      }
    }

    h2{
      display: inline;
    }

    span{
      margin: 15px;

      input{
        border-radius: 13px;
        padding: 4px;
        text-align: center;
        border-color: #DCDCDC;
      }
    }

    .search-filter{
      padding: 7px;
      background: #dcdcdc;
      border-radius: 16px;
      font-size: 14px;
    }

    .header-update{
      float: left;
      color: #708090;
      font-size: 16px;

    }

    .header-userinfo{
      float: right;
      color: #708090;
      font-size: 16px;
    }

    width: calc(100% - 50px);
  }
  .main-chat-body{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 220px calc(100% - 300px) ;
    grid-gap: 30px;
  }
  
}