<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
  <body>
    <div class="header">
      <span class="head">Conversations</span>
      <!-- <p>Resize the browser window to see the responsive effect.</p> -->
    </div>

    <div class="topnav">
      <ul>
        <li>
          <a href="#home"><img src="group-24px.svg" /></a>
        </li>
        <li>
          <a href="#news"><img src="house-24px.svg" /></a>
        </li>
        <li>
          <a href="#contact"><img src="mms-24px.svg" /></a>
        </li>
        <li>
          <a href="#home"><img src="group-24px.svg" /></a>
        </li>
        <li>
          <a href="#news"><img src="house-24px.svg" /></a>
        </li>
        <li>
          <a href="#contact"><img src="mms-24px.svg" /></a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="column side1">
        <!-- card -->
        <div class="card">
          <img
            src="profile.png"
            class="img1"
            alt="John"
          />
          <span>John Doe</span>
          <p>message</p>
        </div>

        <div class="card">
          <img src="profile.png" class="img1" alt="John"/>
          <span>John Doe</span>
          <p>message</p>
        </div>

        <div class="card">
          <img src="profile.png" alt="John" class="img1" />
          <span>John Doe</span>
          <p>message</p>
        </div>
      </div>

      <div class="column middle">
        <h2>Main Content</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget
          elementum magna tristique. Quisque vehicula, risus eget aliquam
          placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
          Praesent scelerisque tortor sed accumsan convallis.
        </p>
      </div>

      <div class="column side2">
        <div class="sidebar">
          <img
            style="width: 150px; height: 150px; border-radius: 50%"
            src="profile.png">
          <p>Jhon Deo</p>
          <a class="btn"><i class="small material-icons">call</i>Call</a>
          <a class="btn"><i class="small material-icons">email</i>Email</a>
          
          <table>
            
            <tr>
              <td>Room</td>
              <td>103</td>
            </tr>
            <tr>
              <td>category</td>
              <td>dress</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>india</td>
            </tr>
          </table>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Footer</p>
    </div>
    <script></script>
  </body>
</html>